/* ヘッダー */
.header {
    background-color: black;
    width: 100%;
}

.header__content {
    width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0px;
}

@media screen and (max-width: 1400px) {
    .header__content {
        width: 100%;
    }
}

.header-logo {
    margin-left: 50px;
    margin-right: auto;
}

.search__form {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.search__form--input {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 20px;
}

input::placeholder {
    color: #555555;
}

.search__form--btn {
    padding: 9px 18px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}

.header__nav {
    display: block;
    margin-right: 50px;
    margin-left: auto;
}

.logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout__btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.header__nav-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin-right: 20px;
}

.header__nav-link:last-of-type {
    padding: 9px 20px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-right: 0px;
}

/* セッションメッセージ */
.alert {
    background-color: rgb(81, 186, 207);
    animation: fadeOut 1s ease-out 5s forwards;
}

.alert__danger {
    background-color: rgb(199, 73, 90);
    animation: fadeOut 1s ease-out 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.alert__content {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.alert-message {
    display: inline;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* バリデーションエラーメッセージ */
.error-message {
    color: #ff574e;
    line-height: 0;
}

/* コンテンツ */
.content {
    margin: 0 auto;
}

.content__heading {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/* 認証、プロフィール設定、配送先住所変更、出品画面などで共通 */
.form-field {
    margin: 0 auto 100px;
    width: 500px;
}

.input-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.input-window {
    width: 100%;
    padding: 10px 15px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    font-size: 15px;
}

/* 送信ボタン */
.submit-btn {
    width: 100%;
    background-color: #ff574e;
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
}

/* ページリンク */
.page-change {
    color: rgb(0, 170, 255);
    display: block;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}