/* ヘッダー */
.header {
    background-color: black;
}

.header__content {
    max-width: 1540px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0px;
}

.header-logo {
    margin-left: 50px;
    margin-right: auto;
}

.search__form {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.search__form--input {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 20px;
}

input::placeholder {
    color: #555555;
}

.search__form--btn {
    padding: 9px 18px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}

.header__nav {
    display: block;
    margin-right: 50px;
    margin-left: auto;
}

.logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout__btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.header__nav-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin-right: 20px;
}

.header__nav-link:last-of-type {
    padding: 5px 20px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

/* セッションメッセージ */
.alert {
    background-color: rgb(81, 186, 207);
    animation: fadeOut 1s ease-out 5s forwards;
}

.alert__danger {
    background-color: rgb(199, 73, 90);
    animation: fadeOut 1s ease-out 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.alert__content {
    max-width: 1540px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.alert-massage {
    display: inline;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* バリデーションエラーメッセージ */
.error-message {
    color: red;
    line-height: 0;
}

/* コンテンツ */
.content {
    text-align: center;
}

.content__heading {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* 共通フォーム領域と 共通フォームアイテム */
.form-field {
    margin: 0 auto;
    width: 500px;
}

.form__group {
    text-align: left;
}

.input-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.input-window {
    width: 100%;
    padding: 10px 15px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    font-size: 15px;
}

/* 送信ボタン */
.submit-btn {
    width: 100%;
    background-color: red;
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
}

/* 画像アップロードボタン */
.upload__image-input::file-selector-button {
    display: block;
    margin-top: -20px;
    visibility: hidden;
}

.upload__image-btn {
    width: 150px;
    display: block;
    color: red;
    padding: 8px 10px;
    margin-top: 30px;
    border: solid 1px red;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

.upload__image-btn::after {
    content: '画像を選択する';
}

/* ページリンク */
.page-change {
    color: rgb(0, 170, 255);
    display: block;
    text-decoration: none;
    margin-top: 20px;
}