.tab-field {
    max-width: 1540px;
    margin: 0 auto;
}

.tab-field input:checked + .tab-label {
    color: red;
}

.tab-label {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
    cursor: pointer;
}

.left {
    margin-left: 150px;
}

input[name="tab-name"] {
    display: none;
}

.index__tab-button:checked ~ .items__index,
.mylist__tab-button:checked ~ .items__mylist {
    display: block;
}

.items__index {
    padding: 70px;
    width: 100%;
    display: none;
    border-top: solid 2px #555555;
}

.items__mylist {
    padding: 70px;
    width: 100%;
    display: none;
    border-top: solid 2px #555555;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 25%;
    text-align: left;
    margin-bottom: 70px;
}

.item-img {
    display: block;
    position: relative;
    width: 90%;
    padding-top: 90%;
    margin: 0 auto;
}

.item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-img__text {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-left: 17px;
}